################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AssetTracker-BackEnd/.vs
**/obj/
**/bin/
